.text-wrapper {
	margin-top: 100px;
	text-align: center;
}

.image-wrapper {
	text-align: center;
}

.employee {
	position: relative;
	max-width: 250px;
	max-height: 250px;
	display: inline-block;
	cursor: pointer;
}

.hidden-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	opacity: 0.75;
}

.incorrect-guess {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	opacity: 0.75;
	background: #FF0000;
}

.correct-guess {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	opacity: 0.75;
	background: #008000;
}

.hidden-name-text {
	display: none;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	padding-top: 200px;
}

@keyframes name-appearance {
	0% {padding-top: 250px;}
	20% {padding-top: 240px;}
	40% {padding-top: 230px;}
	60% {padding-top: 220px;}
	80% {padding-top: 210px;}
	100% {padding-top: 200px;}
}

.guessed-name-text {
	display: inline-block;;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	padding-top: 200px;
	animation-name: name-appearance;
	animation-duration: 1s;
}
