.text-wrapper {
	margin-top: 100px;
	text-align: center;
}

.image-wrapper {
	text-align: center;
}

.buttons {
	top: 70px;
}

button {
	width: 200px;
}

.employee {
	position: relative;
	max-width: 250px;
	max-height: 250px;
	display: inline-block;
	cursor: pointer;
}

.hidden-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	opacity: 0.75;
}

.incorrect-guess {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	opacity: 0.75;
	background: #FF0000;
}

.correct-guess {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	opacity: 0.75;
	background: #008000;
}

.hidden {
	display: none;
}

@keyframes name-appearance {
	0% {padding-top: 250px;}
	20% {padding-top: 240px;}
	40% {padding-top: 230px;}
	60% {padding-top: 220px;}
	80% {padding-top: 210px;}
	100% {padding-top: 200px;}
}

.guessed-name-text {
	display: inline-block;;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	padding-top: 200px;
	animation-name: name-appearance;
	animation-duration: 1s;
}

#answer {
	display: none;
}

.correct-button {
	font-weight: bold
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
